html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
}

#header {
    background-color: #1e1e1e;
    margin: 0 auto;
}

#banner img {
    width: 100%;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}
