html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
}

#header {
    background-color: #1e1e1e;
    max-width: 100%;
}

#banner img {
    max-width: 250px;
    padding: 1em;
    margin: auto;
}

#typography {
    padding: 1em;
}

@media all and (min-width: 800px) {
    #typography {
        float: left;
        width: calc(100% / 3);
    }
}

@media all and (min-width: 800px) {
    #accents {
        float: right;
        width: calc(100% / 3 * 2);
    }
}



h1 {
    color: #aacd6e;
}

h2 {
    color: #f16b6f;
}

/* Link Hover */

.hover-link a {
    color: #aacd6e;
}

.hover-link:hover a {
    color: #f16b6f;
}

button {
    display: block;
    margin: 1.5em auto 0 auto;
    font-size: 1.2em;
    border: 0;
    background-color: #f16b6f;
    color: #ffffff;
    padding: 1em 2em;
    -webkit-border-radius: 25px 25px 25px 25px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    outline: none;
}

/* Make sure this works in other browsers */

button:hover {
    background-color: #aacd6e;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

/* Color Images */

#colors li {
    display: inline;
}

#colors img {
    width: calc(100% / 4 - 1em);
}

/* Images Images */

#images li {
    display: inline;
}

#images ul {
    margin: auto;
}

#images img {
    width: calc(100% / 2 - 1.7em);
}

.full-width img {
    min-width: 100%;
    padding-right: 3.1em;
}

/* @media all and (min-width: 1015px) {
    #images {
        width: calc(100% / 4 * 2);
        display: inline;
        float: right;
    }
}

@media all and (min-width: 1015px) {
    #colors {
        width: calc(100% / 4);
        display: inline;
    }

    #colors li {
        display: block;
    }
}

@media all and (min-width: 1015px) {
    #typography {
        width: calc(100% / 4);
        float: left;
    }
} */

@media all and (min-width: 1400px) {
    #accents {
        width: calc(100% / 4 * 3);
        display: inline;
        float: right;
    }
}

@media all and (min-width: 1400px) {
    #wrapper {
        margin-left: 10%;
    }

    #colors {
        width: 50%;
        display: inline;
        float: right;
        padding: -40px;
        margin-top: 2em;
    }

    #images {
        width: 50%;
        float: right;
        display: inline;
        margin-top: 3em;
    }

    #colors li {
        display: block;
    }

    #banner img {
        margin-left: 10%;
    }
}

@media all and (min-width: 1400px) {
    #typography {
        width: calc(100% / 4);
        float: left;
    }
}

.group::after {
    content: '';
    clear: both;
    display: block;
}
